$bgColor: #202020;
$lineColor: #2f2f2f;
$textColor: #464646;

.clients {
  background-color: $bgColor;
}

.clients__wrap {
  padding-top: 5.5rem;
  padding-bottom: 8rem;
}

.clients__title {
  font-size: 3rem;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  margin: 2.5rem 0;

  &::before {
    content: "";
    width: 7rem;
    height: 0.2rem;
    background-color: $lineColor;
    display: block;
    margin: 0rem auto 2.5rem;
  }
}
.clients__text {
  font-size: 1.4rem;
  color: $textColor;
  line-height: 1.429;
  text-align: center;
  max-width: 55.5rem;
  margin: 2.5rem auto;
}
.clients__carousel {
  margin: 5rem 0;
  padding-left: 11rem;
  padding-right: 11rem;
  box-sizing: border-box;
}

@media (max-width: 980px) {
  .clients__carousel {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (max-width: 480px) {
  .clients__wrap {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
}
